body {
  font-size: 2rem;
  text-align: center;
  font-weight: lighter;
  background-color: #1A1A1A;
  transition: background-color 0.25s;
  font-family: 'Lato', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.dark { background-color: #1A1A1A; } /* default */
.green { background-color: #6CC988; } /* green */
.blue { background-color: #6CC6C9; } /* blue */
.red { background-color: #C7866A; } /* red */
.yellow { background-color: #C7BA76; } /* yellow */
.purple { background-color: #9F76C9; } /* purple */

.light-text {
  color: rgba(255, 255, 255, 0.8);
}

.dark-text {
  color: rgba(128, 128, 128, 0.5);
  font-weight: lighter;
}

.green .dark-text { color: #308249; }
.blue .dark-text { color: #308082; }
.red .dark-text { color: #814931; }
.yellow .dark-text { color: #7F7234; }
.purple .dark-text { color: rgba(20, 20, 20, 0.8); }

#clock {
  font-size: 500%;
  text-align: center;
  margin-top: 20vh;
  letter-spacing: -5px;
}

#settings {
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  position: absolute;
  background-color: white;
  border-radius: 8px;
  display: none;
}
#settings span.swatch {
  display: inline-block;
  width: 75px;
  height: 75px;
}
#settings-done, #settings-open {
  font-size: 0.5em;
  text-decoration: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#note {
  width: 50%;
  height: 250px;
  resize: none;
  color: white;
  background-color: #0A0A0A;
  transition: background-color 0.25s;
  border-color: transparent;
  padding: 8px;
  border-radius: 3px;
  user-select:;
}
#note:focus {
  outline: 0;
}
.green #note { background-color: #3EA85E; } /* green */
.green #note::selection { background-color: #308249; } /* green */
.blue #note { background-color: #3EA4A8; } /* blue */
.blue #note::selection { background-color: #308082; } /* blue */
.red #note { background-color: #A65E3F; } /* red */
.red #note::selection { background-color: #814931; } /* red */
.yellow #note { background-color: #A39343; } /* yellow */
.yellow #note::selection { background-color: #7F7234; } /* yellow */
.purple #note { background-color: #7341A4; } /* purple */
.purple #note::selection { background-color: #593380; } /* purple */