html {
  font-size: 2em;
  text-align: center;
  font-weight: lighter;
  background-color: #1a1a1a;
  /*transition: background-color 0.25s;*/
  font-family: HelveticaNeue-UltraLight, 'Helvetica Neue UltraLight', 'Helvetica Neue', Open-Light, sans-serif;
}

.green { background-color: #6CC988; } /* green */
.blue { background-color: #6CC6C9; } /* blue */
.red { background-color: #C7866A; } /* red */
.yellow { background-color: #C7BA76; } /* yellow */
.purple { background-color: #9F76C9; } /* purple */

.light-text {
  color: rgba(255, 255, 255, 0.8);
}

.dark-text {
  color: rgba(20, 20, 20, 0.5);
}

#clock {
  font-size: 500%;
  text-align: center;
  margin-top: 20vh;
  letter-spacing: -5px;
}

#settings {
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  position: absolute;
  background-color: white;
  border-radius: 8px;
  display: none;
}
#settings-done, #settings-open {
  font-size: 0.5em;
  text-decoration: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#note {
  width: 50%;
  height: 250px;
  resize: none;
  border-color: transparent;
  border-radius: 3px;
}
#note:focus {
  outline: 0;
}
.green #note { background-color: #3EA85E; } /* green */
.blue #note { background-color: #3EA4A8; } /* blue */
.red #note { background-color: #A65E3F; } /* red */
.yellow #note { background-color: #A39343; } /* yellow */
.purple #note { background-color: #7341A4; } /* purple */